data-view{

  .title{
    padding: 0;
    height: 30px;
    background: gray;
    color: #D7DAE0;
    background-color: #16181B;
    line-height: 30px;
    padding-left: 10px;
    border-left: 4px solid rgb(163, 68, 68);
      .add-item-btn{
        font-size: 18px;
      }

  }

    table{
        color:#D7DAE0;
        text-align: center;
        border-collapse:collapse;

        img{
          width: 20px;
        }

        img:hover{
            cursor: pointer;
        }

        .add-col-btn{
          text-align: left;
          border-right: none;
          border-top:none;
          border-bottom:none;

        }

        .add-row-btn{
          text-align: left;
          border-right: none;
          border-left: none;
          border-bottom: none;

        }

        tr{
          .table-element{
            width: 100px;
            height: 30px;
            text-align: center;
            padding: 0;
            margin: 0;
            border-spacing: 2px;
            border-color: grey;
          //  border-bottom: 1px solid #ddd;
            border-collapse: collapse;
            border-spacing: 0;
            padding: 8px;
            border:1px solid black;
          }
          th{
            .table-element;
          }
          td{
            .table-element;
          }
        }
    }
}
