body{
  margin: 0;
  padding: 0;
}
.button {
  color: rgb(50, 50, 50);
  display: inline-block;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(39,41,43,.15) inset;
  text-decoration: none;
  background-color: rgb(140, 140, 140);
  margin: 10px 2px;
}
.tree  {
  padding: 0;
  margin: 0;
   list-style-type: none;
}
.tree li {
  border-bottom: 1px solid #eeeeee;
  height: 40px;
  line-height: 40px;
}
.tree li > div {
  text-align: center;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.table {
  display: block;
}
.table table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.table tr{
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.table table thead th {
  vertical-align: top;
}
.table th, .table td {
  padding: 8px;
  line-height: 20px;
  min-width: 150px;
  border: 1px solid #dddddd;
}
tr input{
  border: 0px inset;
  outline:none
}
.window {
  position: fixed;
  top: 10%;
  left: 50%;
  min-width: 200px;
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  background-clip: padding-box;
  outline: none;
}
.view {
  margin: 0;
  padding: 0;
  position: fixed;
  display: inline;
}
.window .head{
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
.window .head .close {
  margin-top:  2px;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-apprarance: none;
}
.head .close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  font-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
}
.window .label {
  margin: 0;
  line-height: 30px;
}
.window .body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}
.window .footer{
  padding: 14px 15px 15px;
  margin-bottom:  0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-radius: 0 0 6px 6px;
  box-shadow: inset 0 1px 0 #ffffff;
}
.menu ul {
  border-redius: 5px;
  list-style-type: none;
  position: absolute;
  margin: 0px;
  left: 0;
  top: 0;
  padding: 5px 0 5px 0;
  width: 100px;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #DDD;
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-padding-start: 0px;
}
.menu > ul > li {
  list-style: none;
  padding: 0 5px 0 5px;
  cursor: default;
  line-height: 25px;
}
.menu > ul > li:hover {
  color: #ffffff;
  background-color: #0081c2;
}
