<link rel="stylesheet" href="dist/css/application.css">
<div class="application">
  <div class="left">
    <div class="mind-map-panel">
      <outlet></outlet>
    </div>
  </div>
  <div class="right">
    <div class="top">
      <div class="create-panel">
        create-panel
      </div>
      <div class="define-panel">
        define-panel
      </div>
    </div>
    <div class="bottom">
      <div class="table-panel">
        table-panel
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
